
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background:url(../img/3.jpg) no-repeat;
  background-size: cover; 
   }
   .menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  margin-top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #373737;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #444;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 234px;
      height: 259px;
      background: url("../img/aman4.jpg");
      border-radius: 50%;
      border: solid 3px #eece1a; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #eece1a; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #eece1a; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

.nav-item:nth-child(5) {
  transition-delay: 0.5s; }

.nav-item:nth-child(6) {
  transition-delay: 0.6s; }


a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }



.log
    {
      border-radius: 50%;
      position: relative;
      width: 150px;
      height: 150px;
      margin-top: 35px;
      margin-left: 35px;
      background: rgba(0,0,0,.1);
      
      transition: 0.5s;
    }

    .log img{
      border-radius: 50%;
      position: absolute;
      width: 150px;
      transition: 0.5s;
    }
    .log:hover img:nth-child(4){
      transform: translate(100px,-100px);
      opacity: 2;
    }
    .log:hover img:nth-child(3){
      transform: translate(80px,-80px);
      opacity: 1.5;
    }
    .log:hover img:nth-child(2){
      transform: translate(60px,-60px);
      opacity: 1;
    }
    .log:hover img:nth-child(1){
      transform: translate(40px,-40px);
      opacity: .6;
    }




.car{
  width: 450px;
  background: rgba(0,0,0,0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: uppercase;
  background-opacity: 0.6;
  border: inherit;
}
.car-img-top{
  border-radius: 50%;
  width: 234px;
  height: 259px;
  border: groove;

}
.car:hover img:nth-child(1){
      transform: translate(60px,-60px);
      opacity: 3.5;
    }

.card-title{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.card-body h2{
  color: #05fddc;
}
.card-body ul{
  margin: 0;
  padding: 0;
}
.card-body li{
  display: inline-block;
  margin: 6px;
  list-style: none;

}
.card-body li a{
  color: white;
  text-decoration: none;
  font-size: 30px;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #2b2b2b;
  color: #fff;
  height: 60px; }


@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      background: url("../img/aman5.jpg");
      width: 150px;
      height: 197px; }
 
